@font-face{
  font-family: 'OpenSans-Bold';
  src: url('../fonts/woff/OpenSans-Bold.woff') format('woff');
}
@font-face{
  font-family: 'OpenSans-Light';
  src: url('../fonts/woff/OpenSans-Light.woff') format('woff');
}
@font-face{
  font-family: 'OpenSans';
  src: url('../fonts/woff/OpenSans-Regular.woff') format('woff');
}
@font-face{
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/woff/OpenSans-SemiBold.woff') format('woff');
}
@font-face{
  font-family: 'SourceSansPro-Bold';
  src: url('../fonts/woff/SourceSansPro-Bold.woff') format('woff');
}
@font-face{
  font-family: 'SourceSansPro-Light';
  src: url('../fonts/woff/SourceSansPro-Light.woff') format('woff');
}
@font-face{
  font-family: 'SourceSansPro-Regular';
  src: url('../fonts/woff/SourceSansPro-Regular.woff') format('woff');
}
@font-face{
  font-family: 'SourceSansPro-SemiBold';
  src: url('../fonts/woff/SourceSansPro-SemiBold.woff') format('woff');
}